.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  column-count: 3;
  padding: 0px 12px;
}

.image {
border:3px solid #444;
-moz-border-radius: 1px;
-webkit-border-radius: 3px;
object-fit: cover;
margin-bottom: 15px

}

.image:hover {
  filter: opacity(0.8);
  
}

@media (max-width: 2560px)
{
  .gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
}

@media (max-width: 900px)
{
  .gallery {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
}

@media (max-width: 750px)
{
  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}
  .modal img {
    width: 310px;
    height: 310px;
  }
}

@media (max-height: 720px)
{
  .modal img {
    width: 310px;
    height: 310px;
  }
}

